workflows/n8n.json
{
  "name": "Asesor AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "b4fb6fbe-ba90-408f-a5d4-f72df767658d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        208
      ],
      "webhookId": "0f4acab2-7c58-49d7-b606-18ea4a979874",
      "credentials": {
        "telegramApi": {
          "id": "0TXYGRO8AOWTOzz9",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.escalate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "80dd476e-6b4e-4e3a-a033-fc2f471c2b2f",
      "name": "Check Escalation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -320,
        16
      ]
    },
    {
      "parameters": {
        "chatId": "7663264649",
        "text": "=⚠️ *ESCALAMIENTO REQUERIDO*\n\nSe necesita intervención humana.\nMotivo: Fuera de Scope\nUsuario: {{ $('Telegram Trigger').item.json.message.from.id }}",
        "additionalFields": {}
      },
      "id": "ce5bfc77-8ae7-45a6-adf0-12acdc373e09",
      "name": "Alerta a Admin (TG)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -112,
        240
      ],
      "webhookId": "aaffa6f0-7703-4464-9998-c2fa1724f8d4",
      "credentials": {
        "telegramApi": {
          "id": "ST1cogTFrtARHWc7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('METODO HTTPS').item.json.response }}",
        "additionalFields": {}
      },
      "id": "a4e7087e-0592-49a8-b915-aa2a0c50ab93",
      "name": "Responder a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -304,
        400
      ],
      "webhookId": "14a7518a-9f77-4d7d-8bcf-494b8c6c1d58",
      "credentials": {
        "telegramApi": {
          "id": "ST1cogTFrtARHWc7",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://smartenglish-rag-chatbot.onrender.com/api/v1/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.message.text }}\",\n  \"user_id\": \"{{ $json.message.from.id }}\"\n}",
        "options": {}
      },
      "id": "757f1b74-84bf-4244-b6f3-e124461c5722",
      "name": "METODO HTTPS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -512,
        176
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "METODO HTTPS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Escalation": {
      "main": [
        [
          {
            "node": "Alerta a Admin (TG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "METODO HTTPS": {
      "main": [
        [
          {
            "node": "Check Escalation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Responder a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba639f39-c49b-47f6-bf21-b381c5c7bc3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cccdebe71bc8666719e156199cd5f5d4581d3cb930e62bdf131b0ebb5e9c12da"
  },
  "id": "xC00iC7WwqLnzLIA",
  "tags": []
}